@{
    ViewData["Title"] = "Liên hệ";
}
<div class="row px-xl-5">
    <div class="col-lg col-md-4 col-sm-6 pb-1">
        <div class="card">
            <div class="card-body">
                <h5 class="text-primary text-uppercase mb-4">Đặt hàng ngay</h5>
                <p class="mb-4">
                    Cửa hàng chuyên nhận quảng cáo hỗ trợ nhanh nhất và các sản phẩm chất lượng nhất
                    Quảng cáo A&E
                </p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Quốc Oai - Hoà Thạch - Hà Nội</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>kieunang@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>0965428771</p>
            </div>
        </div>
    </div>
    <div class="col-lg col-md-4 col-sm-6 pb-1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d553.8860121759241!2d105.58932728663196!3d20.949057342765432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1696126876586!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</div>