<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AdsWebApp</title>
    <!-- Favicon -->
    <link href="favicon.ico" rel="icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    @* Bootstrap 4.6 *@
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">

    <script src="~/lib/jquery/jquery-3.7.1.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>

<!-- Topbar Start -->
<div class="bg-dark">
    <div class="container-md">
        <div class="row align-items-center py-3 px-xl-5 d-none d-lg-flex">
            <a href="mailto:quanka@gmail.com" class="text-white pr-3">
                <i class="far fa-envelope"></i>
                <span class="text-white">
                    quanka@gmail.com
                </span>
            </a>
            <p class="text-white pr-3" style="margin-bottom: unset">
                <i class="far fa-clock"></i>
                <span class="text-white">
                    08:00 - 17:00
                </span>
            </p>
            <p class="text-white pr-3" style="margin-bottom: unset">
                <i class="fas fa-phone-alt"></i>
                <span class="text-white">
                    0965.458.771
                </span>
            </p>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="container-md">
        <div class="row align-items-center py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="" class="text-decoration-none">
                    <img class="rounded-circle" alt="" src="/img/logo/logo_sm.svg" height="100" width="100"/>
                </a>
            </div>
            <div class="col-lg-4 col-6 text-left">
            </div>
            <div class="d-flex justify-content-end align-items-center col-lg-4 col-6 text-left">
                <div class="pr-2">
                    <img class="rounded-circle" alt="" src="/img/logo/logo_zalo.svg" height="50" width="50"/>
                </div>
                <div>
                    <b class="m-0 text-danger">Hỗ trợ tư vấn: </b>
                    <p style="margin-bottom: unset">
                        <b class="m-0 text-danger"> 0965.428.771 - 0965.428.771</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->

<div class="bg-dark">
    <div class="container-md bg-dark">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link active">Trang chủ</a>
                            <a href="/about" class="nav-item nav-link">Giới thiệu</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sản phẩm <i class="fa fa-angle-down mt-1"></i></a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <a href="" class="dropdown-item">Shopping Cart</a>
                                    <a href="" class="dropdown-item">Checkout</a>
                                </div>
                            </div>
                            <a href="/Index" class="nav-item nav-link">Quy trình đặt hàng</a>

                            <a href="/Index" class="nav-item nav-link">Bảo hành</a>
                            <a href="/Index" class="nav-item nav-link">Liên hệ</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-4 col-6 text-left p-3">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm">
                        <div class="input-group-append">
                            <button class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Navbar End -->

<div class="container-md mt-3">
    @RenderBody()
</div>

<!-- Footer Start -->
<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Đặt hàng ngay</h5>
            <p class="mb-4">
                Cửa hàng chuyên nhận quảng cáo hỗ trợ nhanh nhất và các sản phẩm chất lượng nhất
                Quảng cáo A&E
            </p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Quốc Oai - Hoà Thạch - Hà Nội</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>kieunang@gmail.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>0965428771</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Menu</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right mr-2"></i>Biển quảng cáo
                            đẹp
                        </a>
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right mr-2"></i>Tổng hợp biển
                            chữ nổi 3D
                        </a>
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right mr-2"></i>Biển LED và
                            hộp đèn
                        </a>
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right mr-2"></i>Biển công ty -
                            phòng ban
                        </a>
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right mr-2"></i>Thẻ tên, huy
                            hiệu cài áo
                        </a>
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right mr-2"></i>Quà tặng đẹp,
                            độc
                            đáo
                        </a>
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right mr-2"></i>TEM nhôm.
                            Inox,
                            Đồng
                        </a>
                        <a class="text-secondary mb-2" href="#">
                            <i class="fa fa-angle-right mr-2"></i>Móc khoá
                            Mica
                        </a>
                        <a class="text-secondary" href="#">
                            <i class="fa fa-angle-right mr-2"></i>Menu giá kệ
                            Mica
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">

                </div>
                <div class="col-md-4 mb-5">
                    <img src="/img/logo/logo_sm.svg" alt="" width="300px" height="300px">
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-12 px-xl-0 d-flex justify-content-center">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy; Thiết kế bởi
                <a class="text-primary" href="https://fb.com/kieuquanit">Quân KA</a>
            </p>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>