<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                @foreach (var item in ViewBag.Products)
                {
                    <div class="bg-light p-4">
                        <img src="@($"/img{item.ImgUrl}")" alt="@item.Name">
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->