@{
    ViewData["Title"] = "Quảng cáo A&E";
}

<!-- Featured Start -->
<div class="container-fluid mt-3">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Chất lượng</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Vận chuyển mọi nơi</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Bảo hành ưu đãi</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->

@* Dymamic Partial Page *@
<!-- Products Start -->
<div class="container-fluid pb-3">
    <div class="d-flex justify-content-between align-items-center px-xl-5">
        <h2 class="section-title position-relative text-uppercase">
            <div>
                <span class="bg-secondary pr-3">
                    SẢN PHẨM
                </span>
            </div>
        </h2>
        <div class="col-lg-4 col-6 text-left pt-3 pb-3" style="padding-right: unset">
            @* <div class="input-group"> *@
            @*     <input type="text" class="form-control" id="search-products" placeholder="Tìm kiếm sản phẩm"> *@
            @* </div> *@
        </div>
    </div>

    <div class="lstProducts row px-xl-5">
        @foreach (var item in ViewBag.Products)
        {
            <div class="itProduct col-lg-3 col-md-4 col-sm-6 pb-1">
                <a href="/products/@item.Url">
                    <div class="product-item bg-light mb-4">
                        <img id="img-product" class="img-fluid w-100"
                             src="@($"/img{item.ImgUrl}")"
                             alt="@item.Name">
                        <div class="text-center py-4">
                            <a href="/products/@item.Url">
                                <p class="h6 text-decoration-none text-truncate text-danger">
                                    @item.Name
                                </p>
                            </a>
                            <h5>LIÊN HỆ NGAY</h5>
                            <h6>0965428771</h6>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    <div id="pagination-container" class="d-flex justify-content-center"></div>
</div>
<!-- Products End -->


<partial name="_ProductSlider"/>